<h1>List of All Students</h1>
<p>Here are all the students and their schedules:</p>


<table>
  <tr>
    <th>Student Id
    <th>Student Name</th>  
  </tr>
    <% if @students != [] %>
    <%= render @students%>
    <% else %>
    No Students
    <% end %>
</table>


<tr>
      <th><%= student.id %></th>
      <th><%= link_to student.full_name, student_path(student) %></th>
</tr>