<h1>Index of Classes</h1>


<% @courses.each do |course| %>
<p> The title of the course is: <%=  link_to course.title, class_path(course) %> The instructor is <% course.teacher.preferred_name %>
<%= "The catalog number is: #{course.catalog_number}" %>
<%= "The room number the class meets in is: #{course.day_time_meeting}" %>
</p>
<% end %>

