





<table>
  <tr>
    <th>Teacher
    <th>Student Count</th>  
  </tr>
    <% if @teachers != [] %>
    <% @teachers.each do |t| %>
        <tr>
          <th><%= link_to "#{t.last_name}, #{t.first_name}", teacher_path(t) %></th>
          <th><%= t.students.count %></th>
        </tr>
    <% end %>
    <% else %>
    No Teachers
    <% end %>
</table>

The Course with the most students is <%= Course.with_most_students.title %> which is taught by <%= Teacher.with_most_students.preferred_name %>.
