<h1>Teacher Main Page</h1>


<% if session[:user_type] == "student" %>
<%= render partial: 'student_view', locals: {teacher: @teacher} %>
<% else %>
If this is your first time fill in the form below. You will also have a chance to edit your information later.
<br/>
<%= render partial: 'teacher_view', locals: {teacher: @teacher} %>
<%= link_to "Create New Student", create_student_path %>
<% end %>