<h1>Index of Classes</h1>

<p> Here you can look over all the classes and see more details on individual classes. If you are a student you can add classes to your schedule. If you are an instructor you can edit classes.
</p>

<button id="getCourses">Get Most Recent List of Courses</button>

<div id="course-list"></div>


<script id="course-template" type="text/x-handlebars-template">
  <div id="course">
    <h3><a href="/courses/{{id}}">{{title}}</a></h3>
    <p>{{description}}</p>
    <ul>
      <li>Catalog Number: {{catalog_number}}</li>
      <li>Meeting Time and Day: {{day_time_meeting}}</li>
      <li>Room Number: {{room_number}}</li>
      <li> <a href="/teachers/{{teacher_id}}">Find out more about this teacher</a></li>
      <%= link_to_if(user_signed_in?, "All Teachers", teachers_path) %>
    </ul>
  </div>
</script>


<%= render partial: '/courses/course', collection: @courses  %>
