
<% if session[:user_type] == "student" %>
<h1>Student Schedule</h1>
<%= render partial: '/courses/course', collection: @courses  %>

<a href="javascript:showAllCourses()" data-role="button">Get List of All Courses</a>

<% end %>

<% if session[:user_type] == "teacher" %>
<h1>Teacher Schedule</h1>
<%= render partial: '/courses/course', collection: @courses  %>
<% end %>


<div id="course-list"></div>


<script id="course-template" type="text/x-handlebars-template">
  <div id="course">
    <h3><a href="/courses/{{id}}">{{title}}</a></h3>
    <p>{{description}}</p>
    <ul>
      <li>Catalog Number: {{catalog_number}}</li>
      <li>Meeting Time and Day: {{day_time_meeting}}</li>
      <li>Room Number: {{room_number}}</li>
      <li> <a href="/teachers/{{teacher_id}}">Find out more about this teacher</a></li>
      <%= link_to_if(user_signed_in?, "All Teachers", teachers_path) %>
    </ul>
  </div>
</script>
